.header {
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 20px 16px;
  position: relative;
}

.logo {
  display: flex;
  gap: 8px;
}

.logosvg,
.menuicon {
  width: 28px;
  height: 28px;
}

.logo p {
  font-weight: 500;
  font-size: 20px;
  line-height: 120%;
  letter-spacing: -0.02em;
}

.menutoggle {
  display: block;
  background: none;
  border: none;
  cursor: pointer;
  z-index: 1000;
}

.navwrapper {
  display: none;
}

.navwrapper.open {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 72px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: var(--bg);
  z-index: 999;
  overflow-y: auto;
  padding: 36px 24px;
  box-sizing: border-box;
}

.auth {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.username {
  font-size: 32px;
}

.loginbutton {
  display: flex;
  gap: 8px;
  align-items: center;
  font-weight: 700;
  font-size: 32px;
  line-height: 125%;
}

.loginbutton svg {
  width: 32px;
  height: 32px;
}

.registerbutton {
  border-radius: 12px;
  width: 263px;
  height: 76px;
  background: var(--text);
  font-weight: 700;
  font-size: 32px;
  line-height: 125%;
  color: var(--bg);
  text-align: center;
}

@media (min-width: 768px) {
  .header {
    height: 48px;
    align-items: center;
    margin: 20px;
  }

  .menutoggle {
    display: none;
  }

  .navwrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    flex: 1;
    margin-left: 32px;
    position: static;
    background: none;
  }

  .navwrapper nav {
    flex: 1;
  }

  .auth {
    flex-direction: row;
    align-items: center;
  }

  .username {
    font-size: unset;
  }

  .loginbutton {
    font-size: 16px;
  }

  .loginbutton svg {
    width: 20px;
    height: 20px;
  }

  .registerbutton {
    width: 166px;
    height: 48px;
    font-size: 16px;
  }
}

@media (min-width: 1280px) {
  .header {
    margin: 20px 128px;
  }
}
