:root {
  --color-primary: #f4c550;
  --color-light: #fbe9ba;
  --bg: #ffffff;
  --text: #121417;
  --light-text: #8a8a89;
}

/* #region THEMES */
[data-theme="sage"] {
  --color-primary: #9fbaae;
  --color-light: #cbded3;
}

[data-theme="blue"] {
  --color-primary: #9fb7ce;
  --color-light: #bfd6ea;
}

[data-theme="rose"] {
  --color-primary: #e0a39a;
  --color-light: #f2c0bd;
}

[data-theme="peach"] {
  --color-primary: #f0aa8d;
  --color-light: #f4c8ba;
}
/* #endregion */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: var(--bg);
}

h1 {
  font-weight: 500;
  font-size: 48px;
  line-height: 117%;
  letter-spacing: -0.02em;
  color: var(--text);
}

p {
  margin: 0;
  font-size: 16px;
  line-height: 1.5;
}

a,
button {
  all: unset;
  text-decoration: none;
  cursor: pointer;
}

ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}
